html {
  margin: 80px 0 0 0;
}

ol {
  margin: 0;
  padding: 0px;
}

.cart-count {
  position: relative;
  top: 10px;
  left: 35px;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  padding: 8px;
  line-height: 9px;
  background: #FF3333;
  color: white;
}

#cart-border {
  border: 1px solid white;
  margin: 60px auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 10px 30px #d9d9d9;
}

#cart-button {
  position: relative;
  float: right;
  z-index: 2;
}

.row.garden-page {
  border-color: solid green 2px;
}

.row.product-page {
  float: left;
  border-color: solid green 2px;
}

.ui.card {
  float: left;
  display: inline;
}

.cartCon {
  border-color: solid green 2px;
}

.pad-15-lbt {
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.pad-15 {
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.center {
  text-align: center;
}

.ul {
  list-style-type: none;
}

.div-horizontal {
  width: 30%; /* safe distance for non-supporting browsers */
}

.rcorners {
  border-radius: 100%;
}

#farmer-image {
  padding-left: 0px;
  padding-top: 30px;
}

#logged-out {
  margin: -80px 0 0 0;
}

#log-in-signup {
  margin-top: 30px;
  position: relative;
}

#subline-bg {
  background-color: rgb(140, 80, 0);
  text-align: center;
  margin: 40px auto;
  max-width: 100%;
  color: white;
  padding: 10px;
}

#intro {
  text-align: center;
  max-width: auto;
  color: white;
  font-size: 50px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  line-height: 1.1em;
  border-radius: 15px;
}

.landing-image {
  opacity: .5;
  margin-top: -80px;
  background: no-repeat center fixed;
  background-size: cover;
  position: fixed;
  z-index: -2;
}

#subline {
  text-align: center;
  max-width: 850px;
  color: white;
  font-size: 30px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  line-height: 1.28571429em;
}

#header {
  color: black;
  margin-right: 40px;
  font-size: 30px;
}

.account-image {
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

#account-button {
  margin-top: 14px;
}

.thumbnail {
  float: left;
  object-fit: cover;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 7px 1pt #f2711c;
  outline-offset: 15px;
}

#reviews {
  float: left;
  margin-left: 12px;
  margin-top: 5px;
}

#review-icons {
  position: absolute;
  top: 14px;
  right: 10px;
}

.review-edit {
  text-align: center;
}

#review-two-buttons {
  margin: 0 7px;
  display: inline-flex;
}
