.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.cart-count {
  position: relative;
  top: 10px;
  left: 35px;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  padding: 8px;
  line-height: 9px;
  background: #FF3333;
  color: white;
  /*z-index:3*/
}

.row.garden-page{
  border-color: solid green 2px;
}

.row.product-page{
  float: left;
  border-color: solid green 2px;
}

.ui.card{
  float: left;
  display: inline;
}

.cartCon{
  border-color: solid green 2px;
}

.pad-15-lbt{
  padding-left: 15px;
  padding-bottom: 15px;
  /*padding-right: 15px;*/
  padding-top: 15px;
}

.pad-15{
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.ul{
list-style-type: none;
}

.div-horizontal {
    width: 30%; /* safe distance for non-supporting browsers */
}

.rcorners {
    border-radius: 100%;
    /*width: 200px;*/
    /*height: 150px;*/
}

#farmer-image {
  padding-left: 0px;
  padding-top: 30px;
}

html {
  margin: 80px 0 0 0;
}

#logged-out{
  margin: -80px 0 0 0;
}

#log-in-signup {
  margin-top: 30px;
  position: relative;
}

#subline-bg {
  background-color: rgba(247, 247, 248, 0.9);
  text-align: center;
  margin: 40px auto;
  max-width: 850px;
  color: white;
  border-radius: 8px;
  padding: 10px;
}

#intro {
  text-align: center;
  max-width: 850px;
  color: #999b9c;
  font-size: 50px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  line-height: 1.1em;
  border-radius: 15px;
}

.landing-image {
    background: no-repeat center center fixed;
    background-size: cover;
    opacity: .4;
    display: block;
    margin-top: -80px;
    position: fixed;
    max-width: 100%;
    z-index: -1;
}

.landing-div {
  /*position: fixed;*/
  /*z-index: -2;*/
}

#subline{
  text-align: center;
  max-width: 850px;
  color: #999b9c;
  font-size: 30px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  line-height: 1.28571429em;
}

#header {
  color: black;
  margin-right: 40px;
  font-size: 30px;
}

#cart-border {
  border: 1px solid white;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 10px 30px #d9d9d9;
}

/*.dotted{
  float: right;
  border-color: solid black 2px;
}*/
